name: deploy

on:
  workflow_dispatch:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: 'us-east-1'

jobs:
  deploy:

    runs-on: ubuntu-latest
    steps:
      - name: checkout module
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Yarn
        run: npm install -g yarn

      - name: prepare
        run: yarn config set @folio:registry https://repository.folio.org/repository/npm-folio/

      - name: Do yarn install
        run: yarn install

      - name: Upload yarn.lock
        uses: actions/upload-artifact@v4
        with:
          name: yarn.lock
          path: yarn.lock

      - name: run build scripts
        run: |
          ./node_modules/.bin/stripes mod descriptor stripes.config.js --output ./ModuleDescriptors &&
          STRIPES_TRANSPILE_TOKENS=@k-int yarn build output --okapi https://east-okapi.folio-dev.indexdata.com --tenant reshare_east --sourcemap &&
          mv output east &&
          STRIPES_TRANSPILE_TOKENS=@k-int yarn build output --okapi https://west-okapi.folio-dev.indexdata.com --tenant reshare_west --sourcemap &&
          mv output west

      - name: Post new module descriptors
        run: |
          /usr/bin/python3 .github/workflows/scripts/reshare_ui_mds.py \
            -u "okapi_admin" \
            -p ${{ secrets.OKAPI_ADMIN_PW }} \

      - name: upload builds
        run: |
          ls &&
          aws s3 sync ./east s3://reshare-bundles/east --acl public-read --delete &&
          aws s3 sync ./west s3://reshare-bundles/west --acl public-read --delete

      - name: Invalidate CF East
        run: |
          aws cloudfront create-invalidation \
              --distribution-id E10ONJ5UMHJSTF \
              --paths "/*"

      - name: Invalidate CF West
        run: |
          aws cloudfront create-invalidation \
              --distribution-id E21W57Y11ZF9P \
              --paths "/*"
